@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.DraftEditor-root {
  overflow-x: hidden;
  margin: 2rem;
}

.DraftEditor-editorContainer {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem;
}

.superFancyBlockquote {
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}
